.Body {
    background: #E8D800;
}
footer{
    background-color: #707070;
}
article>img{
    width: 100%;
    height: 100%;
}
article{
    margin-bottom: 2.5em;
}
#phrase{
    font-size: 30px;
}
#cardOne{
    background-color: black;
}
#logo{
    width: 200px;
}
#scrollMenu{
    display: none;
}
#buttonDon:hover{
    background-color: #fd4848;
}
article>img{
        filter: blur(4px);
    }
article>img:hover{
    animation-name: example;
    animation-duration: 3s;
}
@keyframes example {
    from { filter : blur(4px);}
    to {filter: blur(0);}
}


@media screen and (min-width:200px) and (max-width:800px) {
    #liste{
        display: inline;
    }
    #phrase{
        font-size: medium;
    }
    #logoReseau{
        width: 50px;
    }
    #reseau{
        text-align: center;
        margin-bottom: 10px;
    }
    #scrollMenu{
        display: block;
       
    }
    #liste{
        display: none
    }
    article>img{
        filter: blur(0);
    }
}